openapi: 3.0.0
info:
  title: Documentação Centralizada das APIs
  description: Esta API documenta todas as APIs do sistema em um único Swagger.
  version: 1.0.0

servers:
  - url: http://api-auth.sistema.com
    description: API - Autenticação e Segurança
  - url: http://api-cms.sistema.com
    description: API - CMS
  - url: http://api-vitrine.sistema.com
    description: API - Vitrine
  - url: http://api-votacao.sistema.com
    description: API - Votação
  - url: http://api-dash.sistema.com
    description: API - Dash e Reports

# Seções
paths:
  # Autenticação e Segurança - Auth
  /v1/auth/login:
    $ref: "./products/autenticacao/auth/v1_auth_login.yaml"

  /v1/auth/external-user/login:
    $ref: "./products/autenticacao/auth/v1_auth_external_user_login.yaml"

  /v1/profile:
    $ref: "./products/autenticacao/auth/v1_auth_profile.yaml"

  # Autenticação e Segurança - Users
  /v1/users/create:
    $ref: "./products/autenticacao/users/v1_users_create.yaml"

  /v1/users/role:
    $ref: "./products/autenticacao/users/v1_users_create.yaml"

  /v1/users:
    $ref: "./products/autenticacao/users/v1_users_get_all.yaml"

  /v1/users/{id}:
    $ref: "./products/autenticacao/users/v1_users_get_by_id.yaml"

  /v1/users/update/{id}:
    $ref: "./products/autenticacao/users/v1_users_update.yaml"

  /v1/users/delete/{id}:
    $ref: "./products/autenticacao/users/v1_users_delete.yaml"

  /v1/external-users/create:
    $ref: "./products/autenticacao/users/v1_external_users_create.yaml"

# Vitrine
  /v1/vitrine/tv:
    $ref: "./products/vitrine/v1_vitrine_tv.yaml"

  /v1/vitrine/eventos-externos:
    $ref: "./products/vitrine/v1_vitrine_eventos_externos.yaml"

# CMS - Candidatos
  /api/Candidatos/Create:
    $ref: "./products/cms/candidatos/api_candidatos_create.yaml"

  /api/Candidatos/Get_all:
    $ref: "./products/cms/candidatos/api_candidatos_get_all.yaml"

  /api/Candidatos/Update:
    $ref: "./products/cms/candidatos/api_candidatos_update.yaml"

  /api/Candidatos/Perm:
    $ref: "./products/cms/candidatos/api_candidatos_perm.yaml"

# CMS - AUTH
  /api/auth/login:
    $ref: "./products/cms/auth/api_auth_login.yaml"

# CMS - Projetos
  /api/Projetos/Create:
    $ref: "./products/cms/projetos/api_projetos_create.yaml"

  /api/Projetos/Get_all:
    $ref: "./products/cms/projetos/api_projetos_get_all.yaml"

  /api/Projetos/Get_active:
    $ref: "./products/cms/projetos/api_projetos_get_active.yaml"

  /api/Projetos/Get_id?id=1:
    $ref: "./products/cms/projetos/api_projetos_get_id.yaml"

  /api/Projetos/Get_turma?turma=DSM4:
    $ref: "./products/cms/projetos/api_projetos_get_turma.yaml"

  /api/Projetos/Update_Project:
    $ref: "./products/cms/projetos/api_projetos_update_project.yaml"
                
  /api/Projetos/Disable:
    $ref: "./products/cms/projetos/api_projetos_disable.yaml"
    
# Dash e Reports
  /v1/dashboard/interno/ativo:
    $ref: "./products/dash/v1_listar_eventos_internos_ativos.yaml"

  /v1/dashboard/interno/ativo/curso/:curso_semestre:
    $ref: "./products/dash/v1_detalhes_evento_interno_curso_semestre.yaml"

  /v1/votos/interno/logs/idevento/:id_evento:
    $ref: "./products/dash/v1_logs_votos_id_evento.yaml"

  /eventos:
    $ref: "./products/dash/listar_eventos.yaml"

  /eventos/status/:statusEvento:
    $ref: "./products/dash/eventos_status.yaml"

  /eventos/tipo/:tipoEvento:
    $ref: "./products/dash/eventos_tipo.yaml"

  /eventos/status/:statusEvento/tipo/:tipoEvento:
    $ref: "./products/dash/eventos_status_tipo.yaml"

# Votação Pública
  /v1/votacao/publica/confirmacao/visitante:
    $ref: "./products/votacao/publica/v1_publica_visitante_votar.yaml"
  
  /v1/votacao/publica/confirmacao/visitante/{idVisitante}/{idProjeto}/{idEvento}:
    $ref: "./products/votacao/publica/v1_publica_visitante_verificar.yaml"
  
  /v1/votacao/publica/confirmacao/detalhes/{id_projeto}:
    $ref: "./products/votacao/publica/v1_publica_projeto_detalhes.yaml"
  
  /v1/votacao/publica/confirmacao/avaliador/classificacao:
    $ref: "./products/votacao/publica/v1_publica_avaliador_classificar.yaml"
  
  /v1/votacao/publica/confirmacao/avaliador/{idAvaliador}/{idProjeto}/{idEvento}:
    $ref: "./products/votacao/publica/v1_publica_avaliador_verificar.yaml"

# Votação Interna
  /v1/votacao/interna/confirmacao:
    $ref: "./products/votacao/interna/v1_interna_aluno_votar.yaml"
  
  /v1/votacao/interna/confirmacao/verificacao/{idAluno}/{idEvento}:
    $ref: "./products/votacao/interna/v1_interna_aluno_verificar.yaml"
  
  /v1/votacao/interna/representante/{id_representante}:
    $ref: "./products/votacao/interna/v1_interna_representante_detalhes.yaml"