openapi: 3.0.0
info:
  title: Documentação Centralizada das APIs
  description: Esta API documenta todas as APIs do sistema em um único Swagger.
  version: 1.0.0

servers:
  - url: http://api-auth.sistema.com
    description: API - Autenticação e Segurança
  - url: http://api-cms.sistema.com
    description: API - CMS
  - url: http://api-vitrine.sistema.com
    description: API - Vitrine
  - url: http://api-votacao.sistema.com
    description: API - Votação
  - url: http://api-dash.sistema.com
    description: API - Dash e Reports

# Seções
paths:
# Autenticação e Segurança
  /v1/auth/login:
    $ref: "./products/auth/v1_auth_login.yaml"

# Vitrine
  /v1/vitrine:
    $ref: "./products/vitrine/v1_vitrine.yaml"

# CMS - Candidatos
  /api/Candidatos/Create:
    $ref: "./products/cms/candidatos/api_candidatos_create.yaml"

  /api/Candidatos/Get_all:
    $ref: "./products/cms/candidatos/api_candidatos_get_all.yaml"

  /api/Candidatos/Update:
    $ref: "./products/cms/candidatos/api_candidatos_update.yaml"

  /api/Candidatos/Perm:
    $ref: "./products/cms/candidatos/api_candidatos_perm.yaml"

# CMS - AUTH
  /api/auth/login:
    $ref: "./products/cms/auth/api_auth_login.yaml"

# CMS - Projetos
  /api/Projetos/Create:
    $ref: "./products/cms/projetos/api_projetos_create.yaml"

  /api/Projetos/Get_all:
    $ref: "./products/cms/projetos/api_projetos_get_all.yaml"

  /api/Projetos/Get_active:
    $ref: "./products/cms/projetos/api_projetos_get_active.yaml"

  /api/Projetos/Get_id?id=1:
    $ref: "./products/cms/projetos/api_projetos_get_id.yaml"

  /api/Projetos/Get_turma?turma=DSM4:
    $ref: "./products/cms/projetos/api_projetos_get_turma.yaml"

  /api/Projetos/Update_Project:
    $ref: "./products/cms/projetos/api_projetos_update_project.yaml"
                
  /api/Projetos/Disable:
    $ref: "./products/cms/projetos/api_projetos_disable.yaml"
    
# Dash e Reports
  /v1/dashboards:
    $ref: "./products/dash/v1_dashboards.yaml"

# Votação
  /v1/votacao/eleicoes:
    $ref: "./products/votacao/v1_votacao_eleicoes.yaml"

# Exemplos de Schemas
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    $ref: './components/schemas.yaml'
